<?xml version='1.0' encoding='utf-8'?>
<main>
    <directories from="../files/Assets/XML/Text" to="merge"/>
    <sorting>
        <category file="MCP_DIPLOMACY">
            <tag>AI_</tag>
            <tag>USER_</tag>
            <tag>TXT_KEY_MISC_ATTITUDE</tag>
            <tag>TXT_KEY_TRADE</tag>
        </category>
        <category file="MCP_BUILDINGS">
            <tag>MOD_TXT_KEY_BUILDING</tag>
            <tag>TXT_KEY_BUILDING</tag>
        </category>
        <category file="MCP_INTERFACE">
            <tag>TXT_KEY_BUG</tag>
            <tag>TXT_KEY_BUFFY</tag>
            <tag>TXT_KEY_AUTOLOG</tag>
            <tag>TXT_KEY_ADVISOR</tag>
            <tag>TXT_KEY_ANGER</tag>
            <tag>TXT_KEY_CIV4LERTS</tag>
            <tag>TXT_KEY_COLOR</tag>
            <tag>TXT_KEY_COMMAND</tag>
            <tag>TXT_KEY_DOMESTIC</tag>
            <tag>TXT_KEY_FINANCIAL</tag>
            <tag>TXT_KEY_FOREIGN</tag>
            <tag>TXT_KEY_GAMEOPTION</tag>
            <tag>TXT_KEY_GAMESPEED</tag>
            <tag>TXT_KEY_GAME_OPTION</tag>
            <tag>TXT_KEY_HANDICAP</tag>
            <tag>TXT_KEY_HINT</tag>
            <tag>TXT_KEY_INFO</tag>
            <tag>TXT_KEY_INTERFACE</tag>
            <tag>TXT_KEY_KEYBOARD</tag>
            <tag>TXT_KEY_LANDMARK</tag>
            <tag>TXT_KEY_LIST</tag>
            <tag>TXT_KEY_MAIN_MENU</tag>
            <tag>TXT_KEY_MAP</tag>
            <tag>TXT_KEY_MAD_</tag>
            <tag>TXT_KEY_MILITARY</tag>
            <tag>TXT_KEY_MORECIV4LERTS</tag>
            <tag>TXT_KEY_OPTIONS</tag>
        </category>
        <category file="MCP_RESSOURCES">
            <tag>TXT_KEY_BONUS</tag>
        </category>
        <category file="MCP_ACTIONS">
            <tag>TXT_KEY_ACTION</tag>
        </category>
        <category file="MCP_CITIES">
            <tag>TXT_KEY_CITY</tag>
        </category>
        <category file="MCP_CIVICS">
            <tag>TXT_KEY_CIVIC</tag>
        </category>
        <category file="MCP_CIVILIZATIONS">
            <tag>TXT_KEY_CIV_</tag>
            <tag>TXT_KEY_TRAIT</tag>
        </category>
        <category file="MCP_COMBAT">
            <tag>TXT_KEY_COMBAT</tag>
            <tag>TXT_KEY_MISC_ATTACKER</tag>
            <tag>TXT_ACO_</tag>
        </category>
        <category file="MCP_CONCEPTS">
            <tag>TXT_KEY_CONCEPT</tag>
        </category>
        <category file="MCP_CORPORATIONS">
            <tag>TXT_KEY_CORPORATION</tag>
        </category>
        <category file="MCP_ESPIONAGE">
            <tag>TXT_KEY_ESPIONAGE</tag>
        </category>
        <category file="MCP_EVENTS">
            <tag>TXT_KEY_EVENT</tag>
        </category>
        <category file="MCP_GREAT_PERSONS">
            <tag>TXT_KEY_GREAT_PERSON</tag>
        </category>
        <category file="MCP_IMPROVEMENTS">
            <tag>TXT_KEY_IMPROVEMENT</tag>
        </category>
        <category file="MCP_LEADERS">
            <tag>TXT_KEY_LEADER</tag>
        </category>
        <category file="MCP_MAP_SCRIPTS">
            <tag>TXT_KEY_MAP</tag>
        </category>
        <category file="MCP_MISSIONS">
            <tag>TXT_KEY_MISSION</tag>
        </category>
        <category file="MCP_PROJECTS">
            <tag>TXT_KEY_PROJECT</tag>
        </category>
        <category file="MCP_PROMOTIONS">
            <tag>TXT_KEY_PROMOTION</tag>
        </category>
        <category file="MCP_RELIGIONS">
            <tag>TXT_KEY_RELIGION</tag>
        </category>
        <category file="MCP_REVOLUTIONS">
            <tag>TXT_KEY_REV</tag>
        </category>
        <category file="MCP_STRATEGIES">
            <tag>TXT_KEY_STRATEGY</tag>
        </category>
        <category file="MCP_TECHNOLOGIES">
            <tag>TXT_KEY_TECH</tag>
        </category>
        <category file="MCP_UNITS">
            <tag>TXT_KEY_UNIT</tag>
        </category>
    </sorting>
</main>
