<?xml version='1.0' encoding='utf-8'?>
<main>
    <directories from="../files/Assets/XML/Text" to="../translations/import" translations="../translations/main"/>
    <options>
        <importtoall>0</importtoall>
    </options>
    <languages>
        <language enabled="1" code="en">English</language>
        <language enabled="1" code="fi">Finnish</language>
        <language enabled="1" code="fr">French</language>
        <language enabled="1" code="de">German</language>
        <language enabled="1" code="hu">Hungarian</language>
        <language enabled="1" code="it">Italian</language>
        <language enabled="1" code="pl">Polish</language>
        <language enabled="1" code="ru">Russian</language>
        <language enabled="1" code="es">Spanish</language>
        <language enabled="1" code="cs">Czech</language>
        <language enabled="1" code="da">Danish</language>
        <language enabled="1" code="ar">Arabic</language>
        <language enabled="1" code="tr">Turkish</language>
		<language enabled="1" code="zh-Hans">ChineseSimp</language>
		<language enabled="1" code="zh-Hant">ChineseTrad</language>
        <language enabled="1" code="ja">Japanese</language>
        <language enabled="1" code="ko">Korean</language>
		<language enabled="1" code="el">Greek</language>
        <language enabled="1" code="pt">Portuguese</language>
		<language enabled="1" code="pt_BR">Brazilian</language>
		<language enabled="1" code="nl">Dutch</language>
		<language enabled="1" code="ca">Catalan</language>
		<language enabled="1" code="bg">Bulgarian</language>
		<language enabled="1" code="uk_UA">Ukrainian</language>
    </languages>
</main>
